img {
  max-width:800px;
  float:left;
}

/*#alaska {
  display: none;
}
#tikal {
  display: none;
}
#vietnam{
  display: none;
}*/

body {
  background-color: #e1eaea;
}

.jumbotron {
  background-image: url(../img/jumbo.jpg);
  color: white;
  text-align: center;
  height: 400px;
  position relative;
}
